@borderstyle: 1px solid #000;
.home-page {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    .results-area {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        margin-right: 10px;
        padding-top: 5%;
        border: @borderstyle;
    }
    .saved-properties-area {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5%;
        border: @borderstyle;
    }
    .title {
        font-size: 30px;
        font-weight: bold;
        margin: 10px;
    }
    .block {
        border: 1px dashed #000;
        border-radius: 10px;
        padding: 20px;
        background-color: #fafbfa;
    }
}
